*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.clock{
    background: url(./clockMain.png)no-repeat center center/cover;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
}
.hand{
    width: 7rem;
    height: 2px;
    position: absolute;
    top: 12.5rem;
    left: 12.5rem;
    background-color: black;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border-radius: 40px;
}
.minthand{
    width: 8rem;
    height: 2px;
    position: absolute;
    top: 12.5rem;
    left: 12.5rem;
    background-color: rgb(255, 0, 0);
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border-radius: 40px;
}
.sechand{
    width: 9rem;
    height: 1px;
    position: absolute;
    top: 12.5rem;
    left: 12.5rem;
    background-color: rgb(0, 4, 255);
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border-radius: 40px;
}
.axis{
    position: absolute;
    top: 11.95rem;
    left: 11.95rem;
    background-color: black;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
}